<h2 class="ui center aligned icon header">
    <i class="circular purple coffee icon"></i>
    Let's have a talk !
</h2>

<div class="ui one column grid">
    <div class="sixteen wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content" id="messages">
                <div class="ui large feed" id= "message-container">
                    <%= render @messages %>
                </div>
            </div>
            <div class="extra content">
                <%= form_for(@message, html: {class: "ui reply form", role: "form", id: "message_form"}, url: message_path, remote: true) do |f| %>
                    <div class="field">
                        <div class="ui fluid icon input" id="input_index">
                            <%= f.text_field :body, placeholder: "Say something in here..." %>
                            <%= f.button '<i class="bordered inverted purple edit icon"></i>'.html_safe %>
                        </div>
                    </div>
                <% end %>
            </div>  
        </div>
    </div>
</div>
