<h2 class="ui center aligned icon header">
    <i class="circular purple coffee icon"></i>
    Let's have a talk !
</h2>

<div class="ui two column grid">
    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui large feed">
                    <% @messages.each do |message| %>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <em><%= message.user.username %></em>: <%= message.body %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="extra content">
                <form class="ui reply form">
                    <div class="field">
                        <div class="ui fluid icon input">
                            <input type="text" placeholder="Say something in here...">
                            <i class="bordered inverted purple edit icon"></i>
                        </div>
                    </div>

                </form>
            </div>  
        </div>
    </div>
    <div class="four wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui link list">
                    <a class="item">
                        Eliott
                    </a>
                    <a class="item">
                        Stevie
                    </a>
                    <a class="item">
                        Helen
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
